<%- contentFor('pageId') %>
page_error
<%- contentFor('pageClassName') %>
page-error
<%- contentFor('body') %>
<h1 class="pagetitle">エラー</h1>
<p class="guidetext">
    <%= message %>
</p>

<div class="center">
    <a class="btn btn-lg btn-big" href="<%= officialWebsiteUrl %>"><span>公式サイトに戻る</span></a>
</div>
