<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Tokyo Tower PRINT TICKET</title>
<link href="/css/print.css" rel="stylesheet">
<style>
@page {
    size: 45mm auto;
    margin: 0;
}
html,
body {
    width: 45mm;
    margin: 0 auto;
}
</style>
</head>
<body>

<%
moment.locale('ja');
for (let reservation of reservations) {
    // ※決済手段が「無料招待」と「トップデッキのみ（手売り）」の予約はチケット価格が非表示
    let isNoCharge = /^(Invitation|OTC)$/.test(reservation.payment_method);
%>
<div class="pcthermarlprintcontent">

    <p class="pr-header">
        <img class="img-logo-ttts" src="/images/common/logo.svg"><br>
        <img class="img-logo-tour" src="/images/common/logo_tour_black.svg"><br>        
        チケット兼領収書<br>-TICKET &amp; RECEIPT-
    </p>

    <p class="pr-guide">QRコードを入場時にかざしてください</p>

    <p class="pr-qrcode">
        <img src="//chart.apis.google.com/chart?chs=150x150&cht=qr&chl=<%= reservation.qr_str %>">
    </p>

    <div class="pr-paymentno">
        <h3>購入番号<br>-PAYMENT NUMBER-</h3>
        <strong><%- reservation.payment_no %></strong>
    </div>

    <div class="pr-date">
        <h3>ツアー予約日時<br>-DATE-</h3>
        <p>
            <%- moment(reservation.performance_day, 'YYYYMMDD').format('YYYY/MM/DD') %><br>
            <%- moment(reservation.performance_start_time, 'HHmm').format('HH:mm') + '-' + moment(reservation.performance_end_time, 'HHmm').format('HH:mm') %>
        </p>
    </div>

    <div class="pr-tournumber">
        <h3>ツアーナンバー<br>-TOUR NUMBER-</h3>
        <p>
            <%- reservation.performance_ttts_extension.tour_number %><br>
        </p>
    </div>

    <div class="pr-ticket">
        <h3>券種・金額<br>-TICKET-</h3>
        <p>
            <%- reservation.ticket_type_name.ja %><br>
            <%- reservation.ticket_type_name.en %><br>
            <%- ((!isNoCharge) ? ('￥' + reservation.ticket_type_charge + ' ') : '') + '(' + reservation.seat_code + ')' %>
        </p>
    </div>

    <div class="pr-publish">
        <p><%- moment().add(9, 'hour').format('YYYY/MM/DD HH:mm:ss') %></p>
    </div>

</div>
<% } %>

</body>
</html>
