<%
    let momentLocale = locale || 'en';
    if (momentLocale === 'zh-hans') {
        momentLocale = 'zh-cn';
    } else if (momentLocale === 'zh-hant') {
        momentLocale = 'zh-tw';
    }
    moment.locale(momentLocale);

    // キャンセル期限 ＝ ツアー3日前23:59まで
    const moment_cancelDeadline = moment(`${reservations[0].performance_day}235959`, 'YYYYMMDDHHmmss').subtract(3, 'day');
    const isCancellable = moment().isBefore(moment_cancelDeadline);
%>
<%- contentFor('pageId') %>
page_inquiry_result
<%- contentFor('pageClassName') %>
page-inquiry page-result page-complete page-<%- locale %>
<%- contentFor('scripts') %>
<script src="/js/inquiry/result.js"></script>
<script src="/js/qr/qr.js"></script>
<script src="/js/common/VanillaQR.js"></script>
<script>
    window.ttts.isCancellable = <%- isCancellable %>;
</script>
<%- contentFor('body') %>

<h1 class="pagetitle"><%- __('TicketDetail') %></h1>
<p class="guidetext guidetext-customer">
    <%- __('CompleteReservationNoticeText') %><br>
    <span class="red"><%- __('InquiryResultCan') %></span>
</p>

<table class="table table-complete">
    <tbody>
        <tr class="tr-number">
            <th><%- __('PaymentNo') %></th>
            <td>
                <span class="rsrvno"><%- reservations[0].payment_no %></span>
            </td>
        </tr>
        <tr class="tr-date">
            <th><%- __('PurchaseContentDate') %></th>
            <%
                const day = moment(reservations[0].performance_day, 'YYYYMMDD');
                const start = `${reservations[0].performance_start_time.substr(0, 2)}:${reservations[0].performance_start_time.substr(2, 2)}`;
                const end = `${reservations[0].performance_end_time.substr(0, 2)}:${reservations[0].performance_end_time.substr(2, 2)}`;
            %>
            <td>
                <%- day.format('LL(ddd) ') %>
                <%- start %>～<%- end %>
            </td>
        </tr>
        <tr class="tr-tourno">
            <th><%- __('TourNumber') %></th>
            <td>
                <%- reservations[0].performance_ttts_extension.tour_number %>
            </td>
        </tr>
        <tr class="tr-qr">
            <th><%- __('QRCode') %></th>
            <td>
                <% reservations.forEach((reservation, index) => {
                %>
                <div class="wrapper-qrcodes">
                    <div>
                        <p>
                            <!-- <img class="codeimg-barcode" src="//chart.apis.google.com/chart?chs=150x150&cht=qr&chl=<%= reservation.qr_str %>" alt=""> -->
                            <!-- <img class="codeimg-barcode" src="https://api.qrserver.com/v1/create-qr-code/?size=120x120&cht=qr&data=<%= reservation.qr_str %>" alt=""> -->
                            <span class="codeimg-barcode" data-qrcode=<%= reservation.qr_str %>>
                        </p>
                        <p>
                            <%- reservation.ticket_type_name[locale] || reservation.ticket_type_name.en %> <%- __('{{price}} yen', { price: reservation.ticket_type_charge } ) %><br>
                            <%- `${__('EmailReserveDate')}: ${moment(`${reservations[0].performance_day}${reservations[0].performance_start_time}`, 'YYYYMMDDHHmm').format('LLL')}` %><br>
                            <%- `${__('TourNumber')}: ${reservation.performance_ttts_extension.tour_number}` %><br>
                            <%- reservation.seat_code %><br>
                        </p>
                    </div>
                </div>
                <% }) %>
            </td>
        </tr>
        <tr class="tr-price">
            <th><%- __('TotalPrice') %></th>
            <td>
                <span class="price"><%- __('{{price}} yen', { price: reservations.reduce((a,b)=>a+b.charge,0) } ) %></span>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <a class="btn btn-blue btn-print visible-pc" target="_blank" href='/reservations/print?token=<%= printToken %>'><span><%- __('PrintTicket') %></span></a>
    <br>
    <p class="btn btn-cancel <%- (!isCancellable) ? 'btn-disabled' : '' %>"><span><%- __('CancelTicket') %></span></p>
    <% if (!isCancellable) { %>
        <p class="notice-canceldeadline"><%- __('EmailNotice2') %></p>
    <% } %>
</div>

<div class="enteringguide">
    <h3><%- __('HowToEnter') %></h3>
    <p><%- __('AboutEntryDescription') %></p>
    <a class="btn btn-blue btn-entering" href="/aboutenter" target="_blank"><span><%- __('AboutHowToEnter') %></span></a>
</div>

<div>
    <a class="btn-back" href="/inquiry/search"><span><%- __('InquiryOther') %></span></a>
</div>
<%- include('cancel') %>
