
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
<meta name="format-detection" content="telephone=no">

<link href="/css/style.css" rel="stylesheet">
<%- defineContent('styles') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/js/lib/url.min.js"></script>
<script src="/js/common.js"></script>
<%- defineContent('scripts') %>

<%- include('../_ga') %>
</head>

<body id="<%- defineContent('pageId').trim() %>" class="<%- defineContent('pageClassName').trim() %>">

<%- include('./_header') %>

<div class="container">
    <%- body %>
</div>

<%- include('./_footer') %>

</body>
</html>
