<%- contentFor('pageId') %>
page_checkin_confirm
<%- contentFor('pageClassName') %>
page-checkin page-confirm
<%- contentFor('scripts') %>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="/js/checkin/confirm.js"></script>
<%- contentFor('body') %>

<div class="header">
    <h1 class="pointname"><span><%- checkinAdminUser.familyName %> <%- checkinAdminUser.givenName %></span></h1>
    <a class="logout" id="btn_logout" href="#"></a>
</div>

<p class="timecontainer">
    <span id="print_date"></span>
    <span id="print_clock"></span>
</p>

<div id="qrdetail">QRコードを読み取ってください</div>

<hr>

<p id="btn_delete" class="btn"><span>入場取消</span></p>

<div class="api-status">
    <p id="apistatus_checkin"></p>
    <p id="apistatus_delete"></p>
</div>

<table id="checkinlogtable" class="table table-bordered">
    <tbody></tbody>
</table>

<input type="hidden" name="input_username" id="input_username" value="<%- checkinAdminUser.username %>">
<input type="hidden" name="pointgroup" id="input_pointgroup" value="<%- checkinAdminUser.group %>">
