<div class="modal modal-cancel fade" id="modal_cancelreservation" tabindex="-1" data-paymentNo="<%- reservationDocuments[0].payment_no %>">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p class="btn-close" data-dismiss="modal"><span>×</span></p>
				<h2 class="modal-title">チケットキャンセル</h2>
				<p class="guidetext">キャンセル実行ボタンをクリックすると下記チケットがキャンセルされ、<br>キャンセル料が発生します。</p>
                <p id="error_cancel"></p>
			</div>
			<div class="modal-body">
                <form>
                    <input type="hidden" name="">
                    <h3>ご購入内容</h3>
                    <div>
                        <h4>購入番号</h4>
                        <%- reservationDocuments[0].payment_no %>
                        <hr>

                        <h4>ご来塔ご予約日時</h4>
                        <%
                            moment.locale(locale);
                            const day = moment(reservationDocuments[0].performance_day, 'YYYYMMDD');
                            const start = `${reservationDocuments[0].performance_start_time.substr(0, 2)}:${reservationDocuments[0].performance_start_time.substr(2, 2)}`;
                            const end = `${reservationDocuments[0].performance_end_time.substr(0, 2)}:${reservationDocuments[0].performance_end_time.substr(2, 2)}`;
                        %>
                        <%- day.format('LL(ddd) ') %> <%- start %>～<%- end %>
                        <hr>

                        <h4>券種/枚数</h4>
                        <% Object.keys(ticketInfos).forEach(function(key) { %>
                            <p><%- ticketInfos[key].info %></p>
                        <% }); %>
                    </div>

                    <h3>購入者内容</h3>
                    <div>
                        <h4>氏名</h4>
                        <%- reservationDocuments[0].purchaser_last_name %>　<%- reservationDocuments[0].purchaser_first_name %>
                        <hr>

                        <h4>メールアドレス</h4>
                        <%- reservationDocuments[0].purchaser_email %>
                        <hr>

                        <h4>電話番号</h4>
                        <%- reservationDocuments[0].purchaser_tel %>
                    </div>

                    <h3>キャンセル料</h3>
                    <div>
                        <p class="cancelfee">&yen;400</p>
                    </div>
                </form>

                <hr style="margin-top: 0;">

                <div class="cancelnotice">
                    <h3>チケットキャンセルに関する注意事項</h3>
                    <p>
                        ・キャンセルする場合、キャンセル料が発生いたします。<br>
                        ・キャンセルしたチケットは戻すことができませんのでご了承ください。<br>
                        ・「キャンセル実行」ボタンを押した際、上記注意事項に同意したとみなします。
                    </p>
                </div>
			</div>

			<div class="modal-footer">
				<p id="btn_execcancel" class="btn btn-red"><span>キャンセル実行<span class="show-processing">中...</span></span></p>
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="modal_completed" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">チケットキャンセル完了</h2>
            </div>
			<div class="modal-body">
                <h3>購入番号: <%- reservationDocuments[0].payment_no %></h3>
                <p>上記チケットのキャンセル手続きが完了いたしました。</p>
			</div>
			<div class="modal-footer">
				<a href="/inquiry/search" class="btn-back">チケット照会に戻る</a>
			</div>
		</div>
	</div>
</div>
