<%- contentFor('pageId') %>
page_checkin_confirm
<%- contentFor('pageClassName') %>
page-checkin page-confirm
<%- contentFor('scripts') %>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="/js/checkin/confirm.js"></script>
<%- contentFor('body') %>

<div class="header">
    <h1 class="pointname"><span><%- staffUser.name.ja %></span></h1>
    <a class="logout" href="/checkin/login"></a>
</div>

<p class="timecontainer">
    <span id="print_date"></span>
    <span id="print_clock"></span>
</p>

<div id="qrdetail">QRコードを読み取ってください</div>

<hr>

<p id="btn_delete" class="btn"><span>入場取消</span></p>

<p id="apistatus"></p>

<table id="checkinlogtable" class="table table-bordered">
    <tbody></tbody>
</table>

<input type="hidden" name="input_username" id="input_username" value="<%- staffUser.name.ja %>">
<input type="hidden" name="pointgroup" id="input_pointgroup" value="<%- staffUser.group %>">
