<%- contentFor('pageId') %>
page_checkin_login
<%- contentFor('pageClassName') %>
page-checkin page-login
<%- contentFor('body') %>
<form method="post" class="form-horizontal form-login">
    <div class="form-group form-inline">
        <label for="username" class="col-sm-3 control-label label-title">チェックポイント</label>
        <div class="col-sm-9">
            <select name="username" id="username" class="form-control">
                <option value="">選択してください</option>
                <% usernames.forEach((username) => { %>
                <option value="<%- username.id %>" <%- (req.body.username === username.id) ? 'selected' : '' %>><%- username.ja %></option>
                <% }); %>
            </select>
            <p class="error message" style="text-align:left;">
                <% if (errors && errors.username) { %>
                    <%- errors.username.msg %>
                <% } %>
            </p>
        </div>
    </div>

    <div class="form-group form-inline">
        <label for="password" class="col-sm-3 control-label label-title">パスワード</label>
        <div class="col-sm-9">
            <input type="password" name="password" id="password" class="form-control" value="<%= req.body.password %>">
            <p class="error message" style="text-align:left;">
                <% if (errors && errors.password) { %>
                    <%- errors.password.msg %>
                <% } %>
            </p>
        </div>
    </div>

    <button class="btn btn-next">ログイン</button>
</form>
<script>
    $(function () {
        $('.btn-next').on('click', function () {
            $('form').submit();
        });
    });
</script>
