<%- contentFor('pageId') %>
page_checkin_performances
<%- contentFor('pageClassName') %>
page-checkin page-performances
<%- contentFor('scripts') %>
<script src="/js/reserve/performances.js"></script>
<%- contentFor('body') %>
<input type="hidden" name="apiEndpoint" value="<%= process.env.API_ENDPOINT %>">

<h1 class="pagetitle">スケジュール選択</h1>

<div class="checkin-searchform">
    <form>

        <div class="form-group">
            <select class="form-control" name="day">
                <option value="">すべての上映日</option>
                <%
                let now = moment();
                let start = moment(event.start);
                let end = moment(event.end);
                let options = '';
                while (start.format('YYYYMMDD') <= end.format('YYYYMMDD')) {
                    options += `<option value="${start.format('YYYYMMDD')}"`;
                    if ('20171025' === start.format('YYYYMMDD')) {
                        options += ' selected="selected"';
                    }
                    options += `>${start.format('MM/DD')}</option>`;
                    start = start.add(+1, 'days');
                    continue;
                }
                %>
                <%- options %>
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" name="screen">
                <option value="">上映スクリーン</option>
                <% for (let theaterId in screensByTheater) { %>
                    <% theater = theaters.find((theater) => {return (theater.get('_id') === theaterId);}) %>
                    <% for (let screen of screensByTheater[theaterId]) { %>
                    <option value="<%- screen.get('_id') %>"><%- theater.get('name')['ja'] %> <%- screen.get('name')['ja'] %></option>
                    <% } %>
                <% } %>
            </select>
        </div>

        <div class="form-group form-seachqueryinput">
            <input type="text" class="form-control" name="words">
        </div>
        
        <div class="wrapper-btn">
            <a class="btn btn-search search" href="javascript:void(0)"><span>検索</span></a>
        </div>
    </form>
</div>

<p class="searchresult">
    検索結果数 <span class="total-count"></span> films
</p>

<% // 残席0でも次へ進めるように %>
<style>
.page-performances .performance .performance-schedule .scheduleitem-soldout {
    pointer-events: auto;
}
</style>

<div class="row performances">
</div>

<form method="post">
    <input type="hidden" name="performanceId">
</form>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">検索しています...</div>
            </div>
        </div>
    </div>
</div>
